:root {
    --darkBlue: #345FF6;
    --darkGray: #253347;
    --gray: #5E6E85;
    --lightGray: #D8E2E7;
    --white: #FFFFFF;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: auto;
}

.welcomeContainer {
    width: 1276px;
    height: 737px;
    border-radius: 0 0 20ps 0;
}

.welcomeText {
    width: 978px;
    height: 737px;
    border-radius: 0 0 40px 0;
    background-color: #D6E6FE;

    font-weight: inter;

    /* border: 1px solid green; */

}
.welcomeLogo {
    width: 64px;
    height: 64px;
    margin-top: 75px;
    margin-left: 116px;
}
.welcomeSpan {
    width: 465px;
    height: 96px;
    margin-top: 267px;
    margin-left: 116px;
    font-size: 18.5px;
    line-height: 24px;
    color: var(--gray);
    /* border: 1px solid red; */


}